* {
    margin: 0px;
    padding: 0px;
    color: white;

}

.nav-bar {
    height: 60px;
    background-color: rgb(22, 25, 25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.amazon-logo-outer {
    width: 114px;
    height: 50px;
    align-items: center;
}

.amazon-logo-inner {
    width: 100%;
    height: 50px;
    background-image: url(./images/amazon-neww.png);
    background-size: cover;
    align-items: center;

}


.llocation-inner {
    width: 88px;
    height: 50px;
    align-items: center;
    padding: 10px;

}

.add-icon {
    display: flex;
}

.deliver-to {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 20px;

}

.india {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1px;
}




.nav-search {
    width: 802px;
    color: 0f1111;
    font-size: 14px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background: #febd68;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.option-selector {
    width: 50px;
    height: 40px;
    color: #0f1111;
    background-color: #E6E6E6;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.input-taker {
    width: 100%;
    height: 40px;
    color: #ffffff;

    font-size: 1rem;
    border: white;
}

.search-icon {
    background-color: #febd68;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;



}





.country-name {
    margin: 5px;
}

.country-selector {
    background-color: transparent;
    margin: 5px;
}

.language-selector {
    display: flex;
    justify-content: center;
    align-items: center;

}


.user {
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.sign-in {
    font-size: 0.75rem;
    width: 70px;
}

.account {
    font-size: 1rem;
    font-weight: 700;

}

.return-text {
    font-size: 0.75rem;
    color: #ffffff;
    width: 70px;
}

.orders {
    font-size: 1rem;
    font-weight: 700;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}


.cart {
    display: flex;

    font-size: 1rem;
    font-weight: 700;
}


.panel {
    height: 39px;
    display: flex;
    background-color: #222f3d;
    gap: 1px;

    align-items: center;
}

a {
    text-align: justify;
    margin-left: 20px;
    text-decoration: none;

}


.section-hero {
    background-image: url(./images/main-page.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
}

.section-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 95%;
    margin-bottom: 50px;
}

.amaze {
    color: black;
    align-items: center;
}

.section-msg a {
    color: #007185;
}

.section-msg a:hover {
    text-decoration: underline #007185;
}

.hero-items {
    display: flex;
    height: 400px;
    width: 95%;
    margin-bottom: 20px;
    margin: 20px;
    background-color: #007185;

}

.box1 {
    height: 400px;
    width: 360px;
    background-color: white;
    border: 5px solid rgb(249, 249, 249);
}

.img1 {
    height: 300px;
    width: 330px;
    padding: 10px;

}

.box1 p {
    color: black;
    padding: 10px;
}

.box1 span {
    color: black;
    padding: 10px;
}

.footer-text {
    background-color: #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 49px;
}




.footer-detail {
    display: flex;
    height: 250px;
    background-color: #2f3c4d;
    justify-content: space-evenly;
}

ul p {
    font-size: 1rem;
    font-weight: 700;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 30px;

}

ul a {
    display: block;
    list-style-type: none;
    font-size: 0.85rem;
    margin-top: 5px;
    color: #DDDDDD;


}

ul a:hover {
    text-decoration: underline;
}





.nav-footer-amazon {
    display: flex;
    width: 100%;
    height: 68px;
    background-color: #222f3d;
    justify-content: space-evenly;
    align-items: center;
    border-top: 0.01px solid white;

}

.amazon-logo-footer {
    background-image: url(./images/amazon-neww.png);
    width: 120px;
    height: 50px;
    background-size: cover;

}

.mixit {
    display: flex;
    gap: 20px;

}

.amazon-logo-footer-2 {
    display: flex;
    gap: 10px;
    border: 0.2px solid white;
}

.amazon-logo-footer-3 {
    display: flex;
    border: 0.2px solid white;

}

.input-number {
    width: 15px;
}





.final-footer {
    width: 100%;
    height: 400px;
    background-color: #131A22;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

ul {
    list-style-type: none;
    color: #999999;
    font-size: 0.7rem;
    font-weight: 100;

}


ul p {

    color: #DDDDDD;
    font-size: 0.8rem;
    font-weight: 900;
}

.aa {
    color: #DDDDDD;
    font-size: 0.8rem;
    font-weight: 900;
    margin-left: 0px;
}

.last-footer {
    background-color: #131A22;
    width: 100%;
    height: 70px;

    color: white;
}

.conditions {
    display: flex;
    justify-content: center;

}

.conditions p {
    color: #DDDDDD;
    font-size: 0.7rem;
    margin-left: 20px;
}

.second-line-copyright {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    color: #DDDDDD;
    margin-top: px;
}